<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
    <body>
    <div> 
        <h1>Sitio</h1>
        <ul>
            <li><a href="#">Opcion 1</a></li>
            <li><a href="#">Opcion 2</a></li>
            <li><a href="#">Opcion 3</a></li>
        </ul>

        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
